* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
nav {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 3.5em;
  height: 90px;
  background-color: none;
  /* position: absolute; */
  width: 100%;
  box-sizing: border-box;
  user-select: none;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav a {
  color: #fff;
}
nav ul a {
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  border-radius: 10px;
  box-sizing: border-box;
}
nav ul a:hover {
  transition: 200ms;
  background-color: #fff;
  color: #3e86f5;
}
.logo {
  font-size: 2.5rem;
  font-weight: 700;
}
.logo a {
  text-decoration: none;
}
.menu-btn {
  color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
  display: none;
}
.menu-btn .bx-x {
  display: none;
  color: #3e86f5;
}
@media (min-width: 901px) {
  .active {
    background-color: #fff;
    color: #3e86f5;
  }
  .active:hover {
    transition: 200ms;
    color: #fff;
    background-color: transparent;
  }
}
@media (max-width: 900px) {
  .menu-btn {
    display: flex;
  }
  nav {
    padding: 0 2em;
  }
  nav ul {
    display: none;
    position: absolute;
    top: 89px;
    left: 0;
    transition: 200ms;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
  }
  nav ul li {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  nav ul a {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 0;
    color: #3e86f5;
  }
  nav ul a:hover {
    background-color: #f1f1f1;
    transition: 200ms;
  }
  .logo {
    font-size: 2rem;
  }
}
@media (max-width: 380px) {
  nav {
    padding: 0 1em;
  }
}
