* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
section {
  background-color: #f4f4f4;
}
nav {
  background: linear-gradient(180deg, #3e86f5 0%, #6ea4ef 100%);
}
.logo {
  font-size: 2em;
}
.product-images {
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.bigImage {
  width: 100%;
  max-width: none;
  height: 100%;
  max-height: 650px;
  object-fit: cover;
}
.smallImages {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  max-height: 650px;
}

.smallImage {
  height: 100%;
  width: 100%;
  max-width: none;
  object-fit: cover;
}
.product-section {
  background-color: #ffff;
  background: linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #fff 100%);
  padding: 2em 1.2em;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  transition: 1s;
}
.img {
  width: 80%;
  height: 80%;
  position: relative;
}
.large-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.large-image img {
  width: 100%;
  height: 500px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
  text-align: center;
}
.arrow svg {
  width: 100%;
  height: 100%;
  fill: #d6d6d6;
}
.arrow svg:hover {
  fill: #fff;
  transition: 200ms;
}
.btn-right {
  right: 0;
}
.btn-left {
  left: 0;
}
#close-btn {
  position: fixed;
  top: 50px;
  right: 50px;
  background: none;
  border: none;
  cursor: pointer;
}
#close-btn svg {
  fill: #dedede;
}
#close-btn svg:hover {
  fill: #fff;
  transition: 200ms;
}
.main {
  display: flex;
  flex-direction: row;
  padding: 3em 1.5em;
  margin: 0 auto;
  max-width: 1400px;
  column-gap: 1.5em;
}
.product-description {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}
.location-name {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
.location-name img {
  width: 300px;
}
.location-section {
  width: 30%;
}
.location-section img {
  width: 100%;
}

.rating span {
  padding-left: 10px;
  color: var(--Gray-2, #4f4f4f);
}
.overview-section {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
  font-size: 15px;
  background-color: #fff;
  border-radius: 6px;
}
.facilities {
  padding: 30px;
  padding-top: 30px;
  border-top: 2px solid #e0e0e0;
}
.overview-text p {
  padding: 15px 0;
}
.overview-text {
  padding: 30px;
}
.packages {
  column-gap: 10%;
}
.packages-child {
  padding-top: 20px;
}
.packages-child p {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
}
.packages,
.main {
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  .main {
    flex-direction: column;
    gap: 20px;
  }
  .product-description {
    width: 100%;
  }
  .location-section {
    width: 100%;
  }
  .dest-pic {
    grid-template-columns: 1fr;
  }
  .smallImages {
    display: none;
  }
  .bigImage {
    grid-column: 1 / -1;
  }
}
@media (max-width: 390px) {
  .packages {
    flex-direction: column;
  }
}
