* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #f7f7f7;
  -webkit-tap-highlight-color: transparent;
}
.header {
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(photos/wallpaper.jpeg), lightgray 50% / cover no-repeat;
  background-position: center;
  position: relative;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  text-align: center;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 0 20px;
  padding-bottom: 100px;
}
.text h1 {
  font-weight: 700;
  font-size: 3.5rem;
}
.text p {
  font-size: 1.5rem;
}

/* -------search-bar------ */

/* .header-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 20px 20px 0px 0px;
    background: var(--White-primary, #FFF) !important;
    gap: 1rem;
    padding: 10px;
 }
.header-search button{
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    color: var(--Black-primary, #000);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
 }
.A{
    display: flex;
    flex-direction:row;
    align-items: center;
    color: #fff; 
    padding: 10px 20px;
    border-radius: 25px;
    background: rgba(62, 134, 245, 0.20);
 }
 
.B{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;  
 }
 .all2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

 }

 .All{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
 }

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;   
    border-radius: 0px 50px 50px 50px;
    background: var(--White-primary, #FFF) !important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    width: 1028px;
    height: 120px;
    gap: 30px;
 }
.leaving-from{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px; 
    border: 2px solid rgba(172, 172, 172, 0.50);
    padding: 30px 30px 30px 30px;  
 }
.Where{
    color: var(--Black-75, rgba(0, 0, 0, 0.50));
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500; 
 }
.City{
    color: var(--Black-primary, #000);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
 }
.img3{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
}
.img4{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}
.C{
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.C img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 13tpx;
} */

/* ------Special upcoming offers----- */
.offers-section {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.offers-section p {
  color: var(--Black-75, rgba(0, 0, 0, 0.5));
}
.offers-section h2 {
  font-weight: 600;
  width: 80%;
  text-align: center;
}
h2 {
  font-size: 3.125rem;
}
.offer-selector {
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
  padding: 5px;
  border-radius: 8px;
  margin: 1em 0;
}
.toggle-button {
  border: none;
  background-color: #ffffff;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
/* .toggle-button:not(.active):hover {
  background-color: #eaeffd !important;
  transition: 0.5s !important;
} */
.toggle-button.active {
  background-color: var(--Blue-primary, #3e86f5);
  color: #fff;
}
.toggle-button.active:hover {
  background-color: var(--Blue-primary, #2b75e4);
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: safe center;
  gap: 20px;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 25px 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}
.img1 {
  width: 290px;
  height: 270px;
  object-fit: cover;
  border-radius: 50px;
}
.card-pic {
  display: flex;
  flex-direction: row;
}
.card-pic p {
  text-align: center;
  writing-mode: vertical-lr;
  padding-left: 20px;
  letter-spacing: 8px;
}
.residence-time {
  padding-top: 10px;
  padding-left: 20px;
  line-height: 30px;
  font-size: 0.75rem;
}
.residence-time span {
  background-color: #fcddec;
  color: #f178b6;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.destination-title1 {
  line-height: 30px;
  padding-left: 20px;
  font-size: 1.5rem;
}
.book-section {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  padding-left: 20px;
  line-height: 30px;
  padding-right: 10px;
}
.book-section span {
  color: #000;
  font-size: 1.125rem;
  font-weight: 600;
}
.buttons {
  background-color: #f2f6ff;
  color: var(--Blue-primary, #3e86f5);
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  text-decoration: none;
  margin-left: auto;
}
.buttons:hover {
  background-color: #3e86f5;
  color: white;
  transition: 0.5s;
}
/* ------contact-section----- */

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px;
  width: 100%;
  max-width: 1300px;
  gap: 5rem;
}
.contact-img {
  width: 100%;
}
.contact-text {
  width: 50%;
  flex-grow: 1;
}

.F {
  color: var(--Black-75, rgba(0, 0, 0, 0.5));
  font-size: 1.125rem;
  line-height: 2;
  padding: 20px 0;
}
.T {
  color: var(--Black-primary, #000);
  font-size: 2.5rem;
  font-weight: 600;
}
.Contact-button {
  text-decoration: none;
  border-radius: 10px;
  border: none;
  background: var(--Blue-primary, #3e86f5);
  color: var(--White-primary, #fff);
  font-size: 1rem;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
}
.Contact-button:hover {
  background: var(--Blue-primary, #2a70da);
  transition: 200ms;
}
.Contact-info {
  position: relative;
  flex-grow: 1;
  width: 50%;
  max-width: 450px;
}
.TURISTS {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  align-items: center;
  left: -60px;
  width: 120px;
  height: 80px;
  border-radius: 35px;
  background: var(--White-primary, #fff);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}
#span1 {
  color: var(--Blue-primary, #3e86f5) !important;
  font-size: 1.25rem;
  font-weight: 600;
}
#span2 {
  color: #000;
  font-size: 0.81rem;
  font-weight: 300;
}
.DESTINATIONS {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 20%;
  align-items: center;
  right: -60px;
  width: 120px;
  height: 80px;
  border-radius: 35px;
  background: var(--White-primary, #fff);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}
#span5 {
  color: var(--Blue-primary, #3e86f5) !important;
  font-size: 1.25rem;
  font-weight: 600;
}
#span6 {
  color: #000;
  font-size: 0.81rem;
  font-weight: 300;
}
.HOTEL {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 70%;
  align-items: center;
  right: -60px;
  width: 120px;
  height: 80px;
  border-radius: 35px;
  background: var(--White-primary, #fff);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}
#span3 {
  color: var(--Blue-primary, #3e86f5);
  font-size: 1.25rem;
  font-weight: 600;
}
#span4 {
  color: #000;
  font-size: 13px;
  font-weight: 300;
}
/* ------Recommended Destination-----  */

.destination-section {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.destination-title {
  text-align: center;
}
.Popular-button {
  width: 100px;
  border-radius: 10px;
  background: white;
  height: 50px;
  color: var(--Blue-primary, #3e86f5) !important;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.destination-buttons {
  border: none;
  background-color: #f7f7f7;
  color: var(--Black-75, rgba(0, 0, 0, 0.5));
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  margin-left: 10px;
  margin-top: -50px;
  border: none;
}

.destination-cards {
  display: flex;
  flex-direction: row;
  justify-content: safe center;
  gap: 15px;
  width: 100%;
  padding: 15px 20px 45px 20px;
}
.card-destination {
  cursor: pointer;
  text-decoration: none;
  padding: 15px 15px 20px 15px;
  border-radius: 25px;
  background: var(--White-primary, #fff);
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.1);
  transition: 200ms;
}
.card-destination:hover {
  transform: scale(1.05);
  transition: 200ms;
  box-shadow: 4px 20px 25px 0px rgba(0, 0, 0, 0.1);
}

.photos-destination img {
  width: 250px;
  padding-bottom: 15px;
}
.photos-destination {
  display: flex;
  flex-direction: column;
  color: var(--Black-primary, #000);
  font-size: 20px;
  font-weight: 600;
}
.photos-destination2 {
  display: flex;
  gap: 7px;
  align-items: center;
  color: var(--Black-75, rgba(0, 0, 0, 0.5));
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ------Review Section-----  */
.review-section {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-cards {
  display: flex;
  width: 100%;
  max-width: 1000px;
  column-gap: 2em;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}
.review-card {
  position: relative;
  text-align: center;
  padding: 4em 2em;
  margin: 0 auto;
  line-height: 2;
  width: 50%;
  height: 450px;
  max-width: 500px;
  background-color: white;
  border-radius: 50px;
  color: #000;
  font-size: 1.25rem;
  /* flex: 0 0 auto; */
  width: 50%; /* Display 2 cards at a time */
  box-sizing: border-box;
  display: none;
  align-items: center;
}
.review-card-hidden {
  display: none;
}
.review-card p {
  font-size: 1.2rem;
}
.author {
  color: var(--Blue-primary, #3e86f5);
}
.happy {
  color: #00000080;
}

.reviewer-image-img {
  position: absolute;
  top: 390px;
  right: 160px;
  background-color: white;
  border-radius: 100%;
  padding: 6px 50px;
}
.rating {
  position: absolute;
  top: 410px;
  left: 340px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 38px;
  height: 20px;
  padding-left: 5px;
}
.rating p {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrow-slider {
  column-gap: 2em;
  display: flex;
  padding-top: 50px;
}
.slider-button {
  border: 2px #3e87f594 solid;
  border-radius: 15px;
  font-size: 2rem;
  color: var(--Blue-primary, #3e86f5);
  padding: 0 12px;
  cursor: pointer;
  transition: 200ms;
}
.slider-button:hover {
  scale: 1.05;
}
/* ------discount-section------ */
.discount-section {
  padding-top: 50px;
}
.discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(photos/discount.svg);
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 7em 4em;
}
.discount h2 {
  font-weight: 600;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 30px;
}
.register-button {
  background-color: white;
  color: var(--Blue-primary, #3e86f5);
  border: none;
  border-radius: 15px;
  padding: 15px 22px;
  text-decoration: none;
  transition: 200ms;
}
.register-button:hover {
  background-color: #eff3fe;
}
/* BREAKPOINTS */
@media (max-width: 1200px) {
  .cards,
  .destination-cards {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-align: center;
  }
  .cards::-webkit-scrollbar,
  .destination-cards::-webkit-scrollbar {
    width: 0;
  }
  .card {
    scroll-snap-align: center;
  }
}
@media (max-width: 860px) {
  /* Header */
  nav .logo {
    font-size: 2.2rem;
  }
  .text h1 {
    font-size: 1.6rem;
  }
  .text p {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  /* Offers section */
  .offer-section h2 {
    font-size: 1.8rem;
  }
  /* Contact section */
  .contact-section {
    padding: 30px;
  }
  .contact-text h2 {
    font-size: 1.8rem;
  }
  .contact-text p {
    font-size: 0.8rem;
  }
  /* Destination section */

  /* review section */
  .review-section {
    padding: 80px 20px;
  }
  .review-card {
    padding: 2em 1.5em;
  }
  .review-card p {
    font-size: 1rem;
  }
  /* Footer section */
  .discount {
    padding: 5em 2em;
    border-radius: 60px;
  }
  .discount h2 {
    font-size: 1.5rem;
  }
  .review-card {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .contact-text {
    text-align: center;
  }
  .Contact-button {
    width: 100%;
  }
}
