body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}

/* Navigation Bar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 1.5rem;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background-color: var(--Blue-primary, #3E86F5);
    padding-top: 20px;
    height: 100%;
    overflow-y: auto;
    transition: width 0.3s;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.sidebar a:hover{
    background-color: #fff;
    color: #3E86F5;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        display: none;
    }

    .main-content {
        margin-left: 0;
    }

    .navbar-toggle {
        display: block;
        font-size: 1.5rem;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
    }
}
