body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
}

img {
  max-width: 150px;
  max-height: 150px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  background-color: #2ecc71;
}

.edit-btn:hover {
  background-color: #27ae60;
}

.edit-btn,
.delete-btn {
  width: 5em;
  padding: 5px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-decoration: none;
}
.delete-btn {
  background-color: #e74c3c;
}

.delete-btn:hover {
  background-color: #c0392b;
}

/* Alternate row colors */
tbody tr:nth-child(even) {
  background-color: #ecf0f1; /* Light gray */
}

tbody tr:nth-child(odd) {
  background-color: #fff; /* White */
}

.add-product-btn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.add-product-btn:hover {
  background-color: #2980b9;
}
