body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 100vh;
}
/* Sidebar */
.sidebar {
  width: 200px;
  background-color: var(--Blue-primary, #3e86f5);
  padding-top: 20px;
  overflow-y: auto;
  transition: width 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.sidebar a:hover {
  background-color: #fff;
  color: #3e86f5;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 40px 25px;
  margin: 0 auto;
}
h2 {
  margin-bottom: 20px;
}

.contact-us-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-us-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  flex-direction: row;
  position: relative;
}
.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  width: 5em;
  padding: 3px 0;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #c0392b;
}
.message-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.full-name,
.email,
.message {
  margin-bottom: 10px;
  color: #333;
}

.full-name {
  font-size: 18px;
  font-weight: bold;
}

.email {
  font-size: 14px;
}

.message {
  font-size: 16px;
  line-height: 1.4;
}
